.0ld-nav-wrapper {
  position: relative;
}
/*
.nav-panel {
  width:250px;
  transition: width 0.3s ease;
}

.nav-panel.collapsed {
  width: 0;
  overflow: hidden;
}

.collapsed-rail {
  width: 5px;
  background: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.right-panel {
  flex: 1;
  padding: 1rem;
}
*/
/* This ensures the collapsed rail stays visible as a vertical bar */

.fixed-accordion-controls {
  position: sticky;
  top: 15%;
  right: 0;
  z-index: 10;
  padding: 0.5rem 0.5rem 0.5rem 0;
  
}

.zoomable {
  cursor: zoom-in;
  transition: transform 0.2s;
  max-width: 100%;
  height: auto;
}

.zoomable:active {
  transform: scale(2); /* or any zoom factor */
  z-index: 1000;
  position: relative;
  cursor: zoom-out;
}

.camo-background {
    background-image: url('/resource/blue_camo');
    background-size: cover;
    background-repeat: repeat;
    border-radius: 0.5rem;
}

.camo-background .center-rich-text ::slotted(img),
.camo-background .center-rich-text img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.camo-background .center-flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-yellow .slds-icon {
    fill: #FFD600 !important;
    color: #FFD600 !important;
}
